//Custom variables

// Descriptive color variables

// Functional color variables

// Font stacks

// Asset paths
// $path-image   :   '../img';
// $path-fonts     :  '../fonts';
//COLORS
$green: #A4C422;
$white: #FFFFFF;
$black: #000000;
$darkBlue: #004E72;
$lightGrey: #B1B1B1;
$darkGrey: #B2B2B2;
$textColor: #5F5F5F;
$lightBlue: #00B5F1;
$orange: #F6821F;
$maroon: #8B0024;
$brown: #765A46;
$rhodamine: #ec008a;
$eggplant: #800080;
$coral: #f08080;
$berry: #990000;
